<%- include('partials/header.ejs') %>

<div class="container mt-3">
    <button id="backButton" class="btn btn-outline-secondary mb-4">Back to Playlists</button>

    <h1 class="mb-4 text-center text-md-start"><%= playlistName %></h1>
    <div id="alert-container" class="mb-4">
        <!-- Alerts will appear here -->
    </div>


  <div class="row mb-3">
      <div class="col-md-4">
          <form id="searchForm" action="/search" method="GET" class="input-group">
              <input type="hidden" id="playlistId" name="playlistId" value="<%= playlistId %>">
              <input type="text" id="search" name="search" required class="form-control" placeholder="Add to Playlist...">
              <button type="submit" class="btn btn-primary">Search</button>
              <button type="button" id="clearButton" class="btn btn-outline-danger" style="display: none;">Clear</button>
          </form>
      </div>
  </div>


    <div id="searchResults" class="mb-3" style="display: none;">  
        <h3>Movies:</h3>
        <div id="searchMovies" class="row"></div>

        <h3>Series:</h3>
        <div id="searchSeries" class="row"></div>
    </div>

    <div class="mb-3">
        <div class="d-flex flex-wrap justify-content-center justify-content-md-start">
          <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="filterMovies" checked onchange="applySorting(<%= playlistId %>)">
              <label class="form-check-label" for="filterMovies">Movies</label>
          </div>
          <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="filterSeries" checked onchange="applySorting(<%= playlistId %>)">
              <label class="form-check-label" for="filterSeries">Series</label>
          </div>
            <div class="ms-auto">
                <label for="genreSelect" class="form-label me-2 visually-hidden">Genre</label>
                <select id="genreSelect" class="form-select" onchange="applySorting(<%= playlistId %>)">
                  <option value="">All Genres</option>
                  <option value="Action">Action</option>
                  <option value="Adventure">Adventure</option>
                  <option value="Animation">Animation</option>
                  <option value="Anime">Anime</option>
                  <option value="Comedy">Comedy</option>
                  <option value="Crime">Crime</option>
                  <option value="Disaster">Disaster</option>
                  <option value="Documentary">Documentary</option>
                  <option value="Donghua">Donghua</option>
                  <option value="Drama">Drama</option>
                  <option value="Eastern">Eastern</option>
                  <option value="Family">Family</option>
                  <option value="Fan-film">Fan-film</option>
                  <option value="Fantasy">Fantasy</option>
                  <option value="Film-noir">Film-noir</option>
                  <option value="History">History</option>
                  <option value="Holiday">Holiday</option>
                  <option value="Horror">Horror</option>
                  <option value="Indie">Indie</option>
                  <option value="Music">Music</option>
                  <option value="Musical">Musical</option>
                  <option value="Mystery">Mystery</option>
                  <option value="Road">Road</option>
                  <option value="Romance">Romance</option>
                  <option value="Science-fiction">Science-fiction</option>
                  <option value="Short">Short</option>
                  <option value="Sports">Sports</option>
                  <option value="Sporting-event">Sporting-event</option>
                  <option value="Suspense">Suspense</option>
                  <option value="Thriller">Thriller</option>
                  <option value="Tv-movie">Tv-movie</option>
                  <option value="War">War</option>
                  <option value="Western">Western</option>
                </select>
            </div>
        </div>
    </div>

    <div id="playlistItems" class="row"></div>
</div>

<!-- Movie Info Modal -->
<div class="modal fade" id="movieInfoModal" tabindex="-1" aria-labelledby="movieInfoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="movieInfoModalLabel">Info</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!-- movie info... -->
        </div>
      </div>
    </div>
  </div>


<%- include('partials/footer.ejs') %>

  <script>
      window.onload = function() {
          document.getElementById('filterMovies').checked = true;
          document.getElementById('filterSeries').checked = true;
          document.getElementById('genreSelect').value = '';
          document.getElementById('search').value = '';
          // Load playlist items with the default filters
          loadPlaylistItems(<%= playlistId %>);
      };
  </script>

